<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ObuvShop</title>
	<link rel="stylesheet" href="css/mainPage.css">
</head>
<body>
	<div class="headtop"><!-- Самый верхняя часть, где авторизация, корзина, избранное, и ВП -->
		<div class="wrap">
			<div class="whatsapp"><!-- Сам ВП -->
				Написать нам в facebook
			</div>
			<div class="authorization"><!-- Я назвал див "авторизация", но тут еще и корзина и избранное(у меня все плохо с придумыванием названий) -->
				<ul>
					<li>Избранное</li>
					<li>Корзина</li>
					<li>Вход</li>
				</ul>
			</div>	
		</div>
	</div>

	<div class="logo"> <!-- логотип с поиском -->
		<span class="logo"><!-- Логотип -->
			ObuvShop
		</span>
		<input type="search" name="search"><!-- Поиск, просто поиск -->	
	</div>

	<div class="menu"><!-- Меню -->
		<ul class="links"><!-- Элементы справа, хз что это, одна из них корзина второе хз -->
			<p>icon1</p>
			<p>icon2</p>
		</ul>
		<ul style="text-transform: uppercase;"><!-- само меню, т.е. пункты, на стили не обращай внимания -->
			<li><a href="Product1/">mtl</a></li>
			<li><a href="#">Обувь</a></li>
			<li><a href="#">аксессуары</a></li>
			<li><a href="#">бренды</a></li>
			<li><a href="#">sale</a></li>
		</ul>
	</div>

	<div class="product">
		<a href="#">
			<img src="img/SteamAv.png" alt="tovar1" width="200px">
		</a>
	</div>

	<div class="feedback"><!-- Отзывы, но почему то они пустые, думаю все таки можно добавить -->
		<h1>
			ОТЗЫВЫ
		</h1>
	</div>

	<div class="transport_info"><!-- тупо инфа, о доставке -->
		<ul>
			<li>доставка по рк</li>
			<li>безопасность</li>
			<li>гарантия качества</li>
		</ul>
	</div>

	<table class="table table-bordered">
	  <tbody>
	    <tr>
	      <td>Mark</td>
	      <td>Otto</td>
	      <td>@mdo</td>
	    </tr>
	    <tr>
	      <td>Jacob</td>
	      <td>Thornton</td>
	      <td>@fat</td>
	    </tr>
	  </tbody>
	</table>
	
	<div class="footer"><!-- футер -->
		<div class="give_up_social_network"><!-- Всякий текст о том что, нужно бросать курить и соцсети -->
			<ul>
				<li>Мы в соцсети</li>
			</ul>
		</div>

		<div class="footer_points"><!-- пункты -->
			<div class="footer_about"><!-- о нас -->
				<p>О нас</p><!-- ничего особенного -->
				<p>
					ObuvShop предлагает широкий осортимент обуви.
				</p>
			</div>
			<div class="footer_my_account"><!-- а вот тут ссылки -->
				<p>Мой аккаунт</p>
				<ul><!-- вот тут -->
					<li>Моя корзина</li>
					<li>Личный кабинет</li>
					<li>Мои заказы</li>
					<li>Настройки</li>
				</ul>
			</div>
			<div class="footer_usefull"><!-- тоже ссылки -->
				<p>Полезное</p>
				<ul>
					<li>Условия доставет</li>
					<li>Обратная связь</li>
					<li>Отзывы магазина</li>
					<li>Новости</li>
					<li>Wiki</li>
				</ul>
			</div>
			<div class="footer_catalog"><!-- и еще ссылки -->
				<p>каталог</p>
				<ul>
					<li>красовки</li>
					<li>premium</li>
					<li>новинки</li>
					<li>архив</li>
					<li>скоро</li>
				</ul>
			</div>
		</div>		
	</div>

	<div class="copyright">
		<p>2015-2018 ObuvShop</p>
	</div>
</body>
</html>